
/*Global*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font: 14px/1.2 Arial, Helvetica, sans-serif;
  background-color: #fff;
  margin: 0;
  min-width: 900px;

}


/*Header*/

header{
  padding: 2%;
  margin: 2%;

}
#header-inner{
 
}

#logo {
  float: left;

}

#logo img {
  position: absolute;
  top:4%;
  left: 15%;

}

header nav{
  margin-left: 30%;
}
li  {  
  display: inline;
  position: relative;
}

header a:hover {
    color: #39c2d7;
} 

.current{
  color: #333 ;
  font-size: 100%;
  text-decoration:none;
  text-transform: uppercase;
  font-weight: 800;
  padding: 10px;
}


/*Banner*/

h1{
  font-size: 250%;
  
}

.banner{
  min-height: 400px;
  background: url(../img/banner.jpg) no-repeat;
  color: #fff;
}

.banner-inner{ 
  padding: 5% 0 0 15%;
  display: grid;
  grid-template-columns: 30% 55%; 
}


/*News*/


.box{
  padding: 4%;
  background-color: #cdcad1;
}

.news div:hover {
background-color: #39c2d7;
}

.news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 90%;
  text-align:center;
  margin-left:auto !important;
  margin-right:auto !important;
}

.news div {
  margin: 5%;
}


h3, p {
  color: #333;
  text-align: left;
}

/*Footer*/

.menu{
  color: #fff;
  font-size: 100%;
  text-decoration:none;
  font-weight: 600;
  padding: 8px;
}

footer li:not(:last-child){
  text-decoration:underline; 
}


#footer-inner {
  background-color: #39c2d7 ;
  padding: 2% 0 2% 12%;
  font-size: 110%;
}

footer li:hover {
    text-decoration:none; 
} 