

h1 {
	
	padding: 15px;
}
.page{
    margin: 0, auto;
	background-color: #272727;
	color: #A19E86;
	font-size: 20px;
	height: 1200px;
}
 #box0,#box1,#box2,#box3,#box4,#box5,#box6,#box7 {
    display: inline-table;
	padding: 5px;
	
}
#root{height: 1200px;}
.preview_class {
	width: 300px;
	
}

.page div .level, .model_class {
	text-transform: uppercase;
	text-align: center;
}

.country_class {
	display:none !important;
	
}

.model_class {
	white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis ;
color: #A19E86;
}

caption {
	width: 200px;
	caption-side: bottom;
}

.country_image_class, .level {
	display: inline;
	padding-right: 5px;
	color: #A19E86;
}

div #box:hover{
	background-color: #333333;
}

table {
    width: 60%;
	border-collapse: collapse;
	float:right;
	color: #A19E86;
	margin:30px;
	font-size: 180%;
}

tr, td {
   padding: 10px;
   color: #d1ceb5;
}

td {
	border: 1px solid #A19E86;
}

#root{
	background-color: #272727;
}

.model_classD, .levelD{
	font-size: 200%;
	color: #A19E86;
	text-align:center;
	
}
.model_classD{
	text-transform: uppercase;
}
.levelD{
font-size: 150%;}

.country_image_classD, .model_classD, .levelD{
	display: inline-table;
	padding: 5px;
	}
.country_image_classD{	margin-left: 10px;}

.backT, .previewT {color: #d1ceb5; font-size: 150%; margin: 50px; }
