$colorBodyBg: null !default;
$colorContentBg: null !default;
$colorH1: null !default;

*{margin: 0; padding: 0;}

body {
	
	background-color: $colorBodyBg;
	text-align: center;
}
	#content {
    	margin: 8px auto;
		background-color: $colorContentBg;
		width: 800px;
		height: 100%;
		padding: 20px 20px;
		font-size: 13px;
}
	h1, h2{
color: $colorH1;
padding-bottom: 15px;
padding-top: 10px;
}
	
   p {
   	color: $colorP;
   	text-align: $textA;
   	padding-bottom: 10px;
    }
    .img-left {
    	float: left; margin: 0px 15px 10px 0px;
    }
     .img-right {
     	float: right; margin: 0px 0px 10px 15px;
     }

     img  {
     	border: 2px solid $colorH1;
     	padding: 2px;
     }
     
     @mixin briefMixin($briefBackground, $width, $pad1, $mar1, $mart1, $fl1, $mr1, $textA)
 {
     background-color: $briefBackground;
     width: $width;
     padding: $pad1;
     margin-right: $mar1;
     margin-top: $mart1;
     float: $fl1;
     margin: $mr1;
     text-align: $textA;
     height: 30px;

}

.brief {
  @include briefMixin($briefBackground, $width, $pad1, $mar1, $mart1, $fl1, $mr1, $textA);
}


input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 0;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 7px;
    resize: vertical;
    height: 10px;
	color: $inputTypeColor;
}

#contact { text-align: left !important;}
a {
 color:$aColor;
 text-align: $textA !important;
}
h2 {
 text-align: $textA !important;
}

input[type=submit] {
    
    padding: 12px 20px;
    cursor: pointer;
    background-color: $inputSubBg;
	color: #f5c70f; 
	border: 1px solid $inputSubBorder;
	text-transform: uppercase;
	border-radius: 0;
	width: 200px;
	font-size: 16px;
	color: $inputSubBorder;
}

.two-column{
 display: inline-block;
 margin-right: 1px;
 width: 397px;
 
}

label{
color: $labelColor;
text-transform: uppercase;
}

h1 {
text-align: center;
text-transform: $trans;

}

table {width: 750px; border-collapse: collapse; background-color: $tblBg;}
th {
   text-transform: uppercase;
   font-weight: bold;
   background: $thBgColor;
   border-right: 1px solid $thBorderColor;
   color: $thTxtColor;

   }

   th:last-child{border: NONE}

   caption {
text-align: right; 
color: $captionTxtColor;
font-weight: normal;
font-size: 14px;
}

th, td {padding: 5px 10px; text-align:left; }

 tr:not(:first-child):not(:last-child)
 {
 border-bottom: 1px solid $lineColor;
 }
 tr {
 	color: $colorP;
 	height: 30px;
 }