$colorBodyBg: #fadcba;
$colorContentBg: #ffffff;
$colorH1: #893c00;
$colorP: #000000;
$trans: none;
$textA: left;
$briefBackground: #fadcba;
$width: 330px;
$fl1: left;
$mr1: 0px 10px 10px 0px;
$lineColor: #e0e0e0;
$labelColor: #808080;
$imgBorderColor: #893c00;
$aColor:#3d70a1;
$thBgColor: #e0e0e0;
$thTxtColor: #000000;
$thBorderColor: #ffffff;
$captionTxtColor: #000000; 
$inputSubBg: #ffffff;
$inputSubBorder: #3d70a1;
$inputTypeColor: #808080;
$thBgColor: #808080;
$tblBg: #ffffff;

