$colorBodyBg: rgba(198, 238, 252, 0.53);
$colorContentBg: #3b3b3b;
$briefBackground: #fff178;
$colorH1: #fccd10;
$colorP: #ffffff;
$width: 780px;
$trans: uppercase;
$pad1: 10px;
$mar1: 10px;
$mart1: 5px;
$fl1: none;
$tblBg: #677d01;
$mr1: 0px 0px 30px 0px;
$textA: left;
$lineColor: #94a34e;
$labelColor: #f5c70f;
$imgBorderColor: #f5c70f;
$aColor:#f5c70f;
$thBgColor: #94a34e;
$thBorderColor: #ffffff;
$thTxtColor: #000000;
$captionTxtColor: #000000;
$inputSubBorder: #f5c70f;
$inputSubBg: #3b3b3b;
$inputTypeColor: #808080;

